@media (min-width: 500px) {
  .container {
    max-width: 500px;
    margin-top: 150px;
    border-radius: 20px;
    background-color: lightgray;
  }
}
.form-control {
  max-width: 100%;
  box-sizing: border-box;
  
}
.form-group{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}
h2{
  padding:18px;
  padding-top: 30px;
}
label{
  padding: 10px;
}
button{
  padding-left: 30px;
  padding-right: 30px;
}